In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('datasets/census.csv')

In [2]:
mask_state = df['SUMLEV'] == 40
mask_county = df['SUMLEV'] == 50

In [3]:
df_state = df[mask_state]
df_county = df[mask_county]

In [4]:
df_state_total = df_state[['STNAME','CENSUS2010POP']].set_index('STNAME')
df_state_total.head()

            CENSUS2010POP
STNAME
Alabama           4779736
Alaska             710231
Arizona           6392017
Arkansas          2915918
California       37253956

In [9]:
# COMPLETE THE FOLLOWING LINE
df_county_sum = df_county.groupby('STNAME').agg({'CENSUS2010POP': np.nansum})
df_county_sum = df_county.groupby('STNAME').agg(np.nansum) 
df_county_sum.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,3350,201,402,67,4489,4779736,4780127,4785161,4801108,4816089,...,-227.514278,-203.888275,-146.497410,-114.965877,-131.203351,-186.330375,-156.743938,-100.911513,-63.278086,-77.431740
Alaska,1450,116,261,58,4340,710231,710249,714021,722720,731228,...,-33.440736,-152.595613,-269.038219,-522.388655,-379.628897,63.103741,-47.900784,-168.074354,-411.285079,-264.650082
Arizona,750,60,120,60,208,6392017,6392307,6408208,6468732,6553262,...,6.340196,-28.516201,-36.708427,30.251698,-7.852474,25.060233,-7.708944,-15.666411,54.025924,16.927772
Arkansas,3750,225,525,375,5625,2915918,2915958,2922394,2938538,2949499,...,-187.219281,-370.382679,-322.504358,-415.673128,-329.528407,-155.311457,-338.123960,-287.209763,-374.162847,-286.827346
California,2900,232,522,348,3364,37253956,37254503,37334079,37700034,38056055,...,-246.189782,-222.243506,-200.860119,-117.589776,-43.237552,-126.118333,-103.733568,-74.557711,27.166256,104.229475

In [6]:
df_county_sum.rename(columns = {'CENSUS2010POP':'CTY sum pop'}, inplace = True)
df_state_total.rename(columns = {'CENSUS2010POP':'ST total pop'}, inplace = True)

df_check = df_county_sum.merge(df_state_total, right_index = True, left_index = True)
df_check

                      CTY sum pop  ST total pop
STNAME
Alabama                   4779736       4779736
Alaska                     710231        710231
Arizona                   6392017       6392017
Arkansas                  2915918       2915918
California               37253956      37253956
Colorado                  5029196       5029196
Connecticut               3574097       3574097
Delaware                   897934        897934
District of Columbia       601723        601723
Florida                  18801310      18801310
Georgia                   9687653       9687653
Hawaii                    1360301       1360301
Idaho                     1567582       1567582
Illinois                 12830632      12830632
Indiana                   6483802       6483802
Iowa                      3046355       3046355
Kansas                    2853118       2853118
Kentucky                  4339367       4339367
Louisiana                 4533372       4533372
Maine                     1328361       1328361
Maryland                  5773552       5773552
Massachusetts             6547629       6547629
Michigan                  9883640       9883640
Minnesota                 5303925       5303925
Mississippi               2967297       2967297
Missouri                  5988927       5988927
Montana                    989415        989415
Nebraska                  1826341       1826341
Nevada                    2700551       2700551
New Hampshire             1316470       1316470
New Jersey                8791894       8791894
New Mexico                2059179       2059179
New York                 19378102      19378102
North Carolina            9535483       9535483
North Dakota               672591        672591
Ohio                     11536504      11536504
Oklahoma                  3751351       3751351
Oregon                    3831074       3831074
Pennsylvania             12702379      12702379
Rhode Island              1052567       1052567
South Carolina            4625364       4625364
South Dakota               814180        814180
Tennessee                 6346105       6346105
Texas                    25145561      25145561
Utah                      2763885       2763885
Vermont                    625741        625741
Virginia                  7994802       8001024
Washington                6724540       6724540
West Virginia             1852994       1852994
Wisconsin                 5686986       5686986
Wyoming                    563626        563626

In [7]:
df_check['error'] = np.abs( df_check['CTY sum pop'] - df_check['ST total pop'] )
print(df_check)

                      CTY sum pop  ST total pop  error
STNAME
Alabama                   4779736       4779736      0
Alaska                     710231        710231      0
Arizona                   6392017       6392017      0
Arkansas                  2915918       2915918      0
California               37253956      37253956      0
Colorado                  5029196       5029196      0
Connecticut               3574097       3574097      0
Delaware                   897934        897934      0
District of Columbia       601723        601723      0
Florida                  18801310      18801310      0
Georgia                   9687653       9687653      0
Hawaii                    1360301       1360301      0
Idaho                     1567582       1567582      0
Illinois                 12830632      12830632      0
Indiana                   6483802       6483802      0
Iowa                      3046355       3046355      0
Kansas                    2853118       2853118      0
Kentucky                  4339367       4339367      0
Louisiana                 4533372       4533372      0
Maine                     1328361       1328361      0
Maryland                  5773552       5773552      0
Massachusetts             6547629       6547629      0
Michigan                  9883640       9883640      0
Minnesota                 5303925       5303925      0
Mississippi               2967297       2967297      0
Missouri                  5988927       5988927      0
Montana                    989415        989415      0
Nebraska                  1826341       1826341      0
Nevada                    2700551       2700551      0
New Hampshire             1316470       1316470      0
New Jersey                8791894       8791894      0
New Mexico                2059179       2059179      0
New York                 19378102      19378102      0
North Carolina            9535483       9535483      0
North Dakota               672591        672591      0
Ohio                     11536504      11536504      0
Oklahoma                  3751351       3751351      0
Oregon                    3831074       3831074      0
Pennsylvania             12702379      12702379      0
Rhode Island              1052567       1052567      0
South Carolina            4625364       4625364      0
South Dakota               814180        814180      0
Tennessee                 6346105       6346105      0
Texas                    25145561      25145561      0
Utah                      2763885       2763885      0
Vermont                    625741        625741      0
Virginia                  7994802       8001024   6222
Washington                6724540       6724540      0
West Virginia             1852994       1852994      0
Wisconsin                 5686986       5686986      0
Wyoming                    563626        563626      0

In [8]:
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'], index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'poor', 'poor'], columns = ['Grades'])
my_categories = pd.CategoricalDtype(categories = ['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'], ordered = True)
grades = df['Grades'].astype(my_categories)
result = grades[(grades>'B') & (grades<'A')]